section
    ul.nav
        li(ui-sref-active="leftMenuActive")
            a(ui-sref="main.files")
                i.fa.fa-sitemap.fa-fw
                | Файлы
        li(ui-sref-active="leftMenuActive")
            a(ui-sref="main.userList")
                i.fa.fa-sitemap.fa-fw
                | Пользователи
