// User Menu
li.dropdown
  a.dropdown-toggle(data-toggle="dropdown")
    i.fa.fa-user.fa-fw
    i.fa.fa-caret-down
  ul.dropdown-menu.dropdown-user
    li.divider
    li
        a(ui-sref="main.userProfile")
         i.fa.fa-sitemap.fa-fw
         | User Profile
    
    li.divider
    li
      a(ng-click="logout()")
        i.fa.fa-sign-out.fa-fw
        | Logout
