div.content-container
    div.container-fluid
        div.row.text-center
            div.col-lg-6
                div.panel.panel-default
                    div.panel-heading
                        | Working Set
            div.col-lg-6
                div.panel.panel-default
                    div.panel-heading
                        | Resulting Assembly
        div.row.text-center
            div.col-lg-12
                div.panel.panel-default
                    div.panel-heading
                        | Assembly Grid
                    | Some data
