.container
    .row
        .col-md-4.col-md-offset-4
            .login-panel.panel.panel-primary
                .panel-heading
                    h3.panel-title Регистрация
                .panel-body
                     form.css-form(role='form', name='RegisterForm', novalidate)
                        fieldset
                            .form-group
                                h3.panel-title Фамилия
                                input.form-control(placeholder='Фамилия', name='user_lastname', type='text', ng-model="registerModel.user_lastname", required)

                            .form-group
                                h3.panel-title Имя
                                input.form-control(placeholder='Имя', name='user_name', type='text', autofocus='', ng-model="registerModel.user_name", required)

                            .form-group 
                                h3.panel-title Отчество
                                input.form-control(placeholder='Отчество', name='user_surname', type='text', ng-model="registerModel.user_surname", required)

                            .form-group 
                                h3.panel-title Пароль
                                input.form-control(placeholder='Пароль', name='password', type='password', ng-model="registerModel.password", required)

                            .form-group 
                                h3.panel-title Пароль еще раз
                                input.form-control(placeholder='Пароль еще раз', name='password2', type='password', ng-model="registerModel.password2", required)

                            .form-group 
                                h3.panel-title E-mail
                                input.form-control(placeholder='E-mail', name='e-mail', type='email', ng-model="registerModel.email", required)

                            .form-group
                                h3.panel-title Форма обучения
                                select.form-control(ng-model="registerModel.mode")
                                    option(ng-repeat="mode in studyMode", value="{{mode.id}}") {{mode.m_name}}

                            button.btn.btn-lg.btn-success.btn-block(type='submit', ng-click="register(RegisterForm)") Регистрация
