.container
    .row
        .col-md-4.col-md-offset-4
            .login-panel.panel.panel-primary
                .panel-heading
                    h3.panel-title Регистрация
                .panel-body
                     form.css-form(role='form', name='RegisterForm', novalidate)
                        fieldset
                            .form-group
                                h3.panel-title Фамилия
                                input.form-control(placeholder='Фамилия', name='user_lastname', type='text', ng-model="user.user_lastname", required)

                            .form-group
                                h3.panel-title Имя
                                input.form-control(placeholder='Имя', name='user_name', type='text', autofocus='', ng-model="user.user_name", required)

                            .form-group 
                                h3.panel-title Отчество
                                input.form-control(placeholder='Отчество', name='user_surname', type='text', ng-model="user.user_surname", required)
                            .form-group 
                                h3.panel-title Логин
                                input.form-control(placeholder='Логин', name='login', type='text', ng-model="user.login", required)

                            .form-group 
                                h3.panel-title Пароль
                                input.form-control(placeholder='Пароль', name='password', type='password', ng-model="user.password", required)

                            .form-group 
                                h3.panel-title Пароль еще раз
                                input.form-control(placeholder='Пароль еще раз', name='password2', type='password', ng-model="user.password2", required)

                            .form-group 
                                h3.panel-title E-mail
                                input.form-control(placeholder='E-mail', name='e-mail', type='email', ng-model="user.email", required)

                            .form-group
                                h3.panel-title Тип пользователя
                                select.form-control(ng-model="user.user_type")
                                    option(ng-repeat="type in user_type_list", value="{{type.type_id}}") {{type.m_name}}

                            .form-group(ng-if="user.user_type == 1")
                                h3.panel-title Группа
                                select.form-control(ng-model="user.group_id")
                                    option(ng-repeat="group in group_list", value="{{group.group_id}}") {{group.group_name}}

                            button.btn.btn-lg.btn-success.btn-block(type='submit', ng-click="register(RegisterForm)") Регистрация
