.container
    .row
        div.table-responsive
            div.panel.panel-default
                div.panel-heading База загруженных файлов
                    .form-group
                    h3.panel-title Выберите предмет
                         select.form-control(ng-model="subj_list.subject_id")
                                option(ng-repeat="subj in subj_list", value="{{subj.subject_id}}") {{subj.subject_name}}

                    button.btn.btn-default(ngf-select ng-model="files") Добавить файл
                    
                div.panel-body

                    table.table.table-striped.table-bordered.table-hover
                        thead
                            tr
                                th Студент
                                th Имя Файла
                                th Название предмета
                                th Комментарий преподавателя
                                th Оценка
                                th Дата добавления

                        tbody
                            tr(ng-repeat="file in file_list")
                                td {{ }}
                                td {{file.file_name}}
                                td {{ }}
                                td 
                                    textarea.form-control(type='comment', ng-model="user.comment", required)

                                td(ng-if="user_type == 2")
                                    select.form-control
                                        option(ng-repeat="rating in rating_type", value="{{rating.type_id}}") {{rating.m_name}}

                                td {{file.date_create}}
                                td
                                    button.btn.btn-default(ng-click="buttonClick_download(file)") скачать
                                    button.btn.btn-default(ng-click=" ") редактировать
                                   

                        button.btn.btn-default(ng-disabled="curPage == 0", ng-click="buttonPrevious_page()") Предыдущая
                        button.btn.btn-default(ng-disabled="lastPage == curPage", ng-click="buttonNext_page()") Следующая
