.container
    .row
        div.table-responsive
            div.panel.panel-default
                div.panel-heading База зарегистрированных пользователей
                    button.btn.btn-default(ng-click="buttonClick_add()") Добавить           
                div.panel-body
                    table.table.table-striped.table-bordered.table-hover
                        thead
                            tr
                                th Фамилия
                                th Имя
                                th Отчество
                                th e-mail
                                th Дата добавления
                                th Дата изменения
                                
                        tbody
                            tr(ng-repeat="user in userList")
                                td {{user.user_lastname}}
                                td {{user.user_name}}
                                td {{user.user_surname}}
                                td {{user.email}}
                                td {{user.date_create}}
                                td {{user.date_change}}
                                td 
                                    button.btn.btn-default(ng-click="buttonClick_change(user)") Редактировать
                                    button.btn.btn-default(ng-click="buttonClick_delete(user)") Удалить
                 
            