.container
    .row
        div.table-responsive
            table.table.table-striped.table-bordered.table-hover
                thead
                    tr
                        td Фамилия
                        td Имя
                        td Отчество
                        td e-mail
                        td Тип
                        td Дата добавления
                        td 
                tbody
                    tr(ng-repeat="user in users")
                        td {{user.user_name}}
                        td {{user.user_lastname}}
                        td {{user.user_surname}}
                        td {{user.email}}
                        td {{user.date_create}}
                        td {{user.date_change}}
                        td 
                            button.btn.btn-default(ng-click="buttonClick_change(user)") Редактировать
                            button.btn.btn-default(ng-click="buttonClick_delete(user)") Удалить
