.container
    .row
        .col-md-7.col-md-offset-4
            div.table-responsive
            table.table.table-striped.table-bordered.table-hover
                thead
                            tr
                                td Фамилия
                                td Имя
                                td Отчество
                                td e-mail
                                td Тип
                                td Дата добавления
                                td 
  
                tbody
                            tr(ng-repeat="element in data")
                                td {{element.user_name}}
                                td {{element.user_lastname}}
                                td {{element.user_surname}}
                                td {{element.email}}
                                td {{element.date_create}}
                                td {{element.date_change}}
                                td 
                                    button.btn.btn-default(ng-click="buttonClick_chenge(element)") Редактировать
                                    button.btn.btn-default(ng-click="buttonClick_delete(element)") Удалить
