.container
    .row
        div.table-responsive
            div.panel.panel-default
                div.panel-heading База зарегистрированных пользователей
                    button.btn.btn-default(ng-click="buttonClick_add()") Добавить           
                div.panel-body
                    
                    table.table.table-striped.table-bordered.table-hover
                        thead
                            tr
                                th Фамилия
                                th Имя
                                th Отчество
                                th e-mail
                                th Дата добавления
                                th Дата изменения
                                
                        tbody
                            tr(ng-repeat="user in displayList")
                                td {{user.user_lastname}}
                                td {{user.user_name}}
                                td {{user.user_surname}}
                                td {{user.email}}
                                td {{user.date_create}}
                                td {{user.date_change}}
                                td 
                                    button.btn.btn-default(ng-click="buttonClick_change(user)") Редактировать
                                    button.btn.btn-default(ng-click="buttonClick_delete(user)") Удалить

                        button.btn.btn-default(ng-disabled="curPage == 0", ng-click="buttonPrevious_page()") Предыдущая
                        button.btn.btn-default(ng-disabled="lastPage == curPage", ng-click="buttonNext_page()") Следующая


    
form.css-form(role='form', name='tableForm', novalidate)
    .col-md-4.col-md-offset-4
        input.form-control(type="number", name='numb_1',  ng-model="numbers.numb_1")
        input.form-control(type="number", name='numb_2',  ng-model="numbers.numb_2")                       
        button.btn.btn-default(ng-click="buttonCount(tableForm)") Считать
                 
            