.container
    .row
        div.panel.panel-default
            div.panel-heading Добавить пользователя
            div.panel-body
                     form.css-form(role='form', name='addForm', novalidate)
                        fieldset
                            .form-group
                                h3.panel-title Фамилия
                                input.form-control(placeholder='Фамилия', name='user_lastname', type='text', ng-model="currentUser.user_lastname", required)

                            .form-group
                                h3.panel-title Имя
                                input.form-control(placeholder='Имя', name='user_name', type='text', autofocus='', ng-model="currentUser.user_name", required)

                            .form-group 
                                h3.panel-title Отчество
                                input.form-control(placeholder='Отчество', name='user_surname', type='text', ng-model="currentUser.user_surname", required)

                            .form-group 
                                h3.panel-title E-mail
                                input.form-control(placeholder='E-mail', name='e-mail', type='email', ng-model="currentUser.email", required)

                            button.btn.btn-default(ng-click="buttonClick_save(addForm)") Сохранить
                            button.btn.btn-default(ng-click="buttonClick_cancel(addForm)") Отмена