.container
    .row
        div.table-responsive
            div.panel.panel-default
                div.panel-heading Профиль текущего пользователя
                              
                div.panel-body
                    label Фамилия
                    div {{user_info.user_lastname}}
                    label Имя
                    div {{user_info.user_name}}  
                    label Отчество
                    div {{user_info.user_surname}}  
                    label E-mail
                    div {{user_info.email}}  
                    label Тип пользователя
                    .div(ng-if="user_info.user_type == 1") Студент
                    .div(ng-if="user_info.user_type == 2") Преподаватель
                    label Дата добавления
                    div {{user_info.date_create}}  
